@import "reset";
@import "mixins";


/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  WIDTHS && HEIGHTS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.h100vh{
    height:100vh;
}
.h10vh{
    height:10vh;
}
.w100vw{
    width:100vw;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  PADDINGS && MARGINS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.pdg15px{
    padding:15px;
}
.pdg-tb-25px{
    padding:25px 0 25px 0;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FLEX PROPERTIES  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.d-flex{
    display:flex;
}
.flex-direction-column{
    flex-direction:column;
}
.flex-direction-row{
    flex-direction:row;
}
.a-i-center{
    align-items:center;
}
.j-c-center{
    justify-content:center;
}
.j-c-around{
    justify-content:space-around;
}

.j-c-end{
    justify-content:flex-end;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  COLORS && BACKGROUNDS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.text-white{
    color:#ffffff;
}
.border-white{
    border-color:#ffffff;
}
.bg-img-1{
    background: url(../images/orion-nebula-11107_960_720.jpg) center 0 no-repeat fixed; 
    background-size:cover;
}
.scrolled_nav{
    background-color:#ffffff;
}
.scrolled_links{
    color:#4e235f;
}
.navbar{
    transition: 0.3s;
}
.links{
    transition: 0.3s;
}
/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FONT STUFF  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.fs-90{
    @include fonts("montserrat", 600, 90px);
}
.fs-45{
    @extend .fs-90;
    font-size:45px;
    font-weight:700;
}
.fs-35{
    @extend .fs-90;
    font-size:35px;
}
.fs-27{
    @include fonts("Helvetica Neue", 450, 27px);
}
.fs-25{
    @extend .fs-90;
    font-size:25px;
}
.text-center{
    text-align:center;
}
.text-justify{
    text-align:justify;
}
.text-decoration-none{
    text-decoration:none;
}
/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  POSITIONING && BORDERS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.pos-fixed{
    position:fixed;
}

.border3px{
    border:solid 5px;
}








