/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  WIDTHS && HEIGHTS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.h100vh {
  height: 100vh; }

.h10vh {
  height: 10vh; }

.w100vw {
  width: 100vw; }

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  PADDINGS && MARGINS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.pdg15px {
  padding: 15px; }

.pdg-tb-25px {
  padding: 25px 0 25px 0; }

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FLEX PROPERTIES  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.d-flex {
  display: flex; }

.flex-direction-column {
  flex-direction: column; }

.flex-direction-row {
  flex-direction: row; }

.a-i-center {
  align-items: center; }

.j-c-center {
  justify-content: center; }

.j-c-around {
  justify-content: space-around; }

.j-c-end {
  justify-content: flex-end; }

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  COLORS && BACKGROUNDS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.text-white {
  color: #ffffff; }

.border-white {
  border-color: #ffffff; }

.bg-img-1 {
  background: url(../images/orion-nebula-11107_960_720.jpg) center 0 no-repeat fixed;
  background-size: cover; }

.scrolled_nav {
  background-color: #ffffff; }

.scrolled_links {
  color: #4e235f; }

.navbar {
  transition: 0.3s; }

.links {
  transition: 0.3s; }

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FONT STUFF  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.fs-90, .fs-45, .fs-35, .fs-25 {
  font-family: "montserrat";
  font-weight: 600;
  font-size: 5.625rem;
  font-size: 90px; }

.fs-45 {
  font-size: 45px;
  font-weight: 700; }

.fs-35 {
  font-size: 35px; }

.fs-27 {
  font-family: "Helvetica Neue";
  font-weight: 450;
  font-size: 1.6875rem;
  font-size: 27px; }

.fs-25 {
  font-size: 25px; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-decoration-none {
  text-decoration: none; }

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  POSITIONING && BORDERS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.pos-fixed {
  position: fixed; }

.border3px {
  border: solid 5px; }

/*# sourceMappingURL=style.css.map */
