<section class="h-100vh d-flex col-6">
    <div class="col-1 bg-about-1 color-1 d-flex flex-direction-column j-c-center text-center transition-1">
        <p class="fs-40">Japan</p>
        <p class="d-none transition-1 fs-18">Since my young age, I'm in love with Japan.
        The culture, the architecture, the people, the language.</p>
    </div>
    <div class="col-1 bg-about-2 color-1 d-flex flex-direction-column j-c-center text-center transition-1">
        <p class="fs-40">Astronomy</p>
        <p class="d-none transition-1 fs-18">Attracted by their gravity, stars have always fascinated me.</p>
    </div>
    <div class="col-1 bg-about-3 color-1 d-flex flex-direction-column j-c-center text-center transition-1">
        <p class="fs-40">Videogames</p>
        <p class="d-none transition-1 fs-18">I've been a huge gamer for a long time, sometimes hardcore, sometimes casual.
        MMORPGs and J-RPGs are my favorite genres.</p>
    </div>
    <span class="fs-vertical-span"></span>
    <div class="col-1 bg-about-4 color-1 d-flex flex-direction-column j-c-center text-center transition-1">
        <p class="fs-40">Front End</p>
        <p class="d-none transition-1 fs-18">HTML/CSS JS (AJAX), SASS/SCSS</p>
    </div>
    <div class="col-1 bg-about-5 color-1 d-flex flex-direction-column j-c-center text-center transition-1">
        <p class="fs-40">Back End</p>
        <p class="d-none transition-1 fs-18">PHP, MySQL, Twig, Symfony</p>
    </div>
    <div class="col-1 bg-about-6 color-1 d-flex flex-direction-column j-c-center text-center transition-1">
        <p class="fs-40">Design</p>
        <p class="d-none transition-1 fs-18">Adobe Creative Suite</p>
    </div>


    {# {%   for project in projects   %}
        {{   project.porTitle   }}
        {{   project.porShortDesc   }}
    {%   endfor   %} #}
</section>