<section class="h100vh d-flex">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>
    
    </div>
    <div>
    
    </div>
    <div>
    
    </div>


    {# {%   for project in projects   %}
        {{   project.porTitle   }}
        {{   project.porShortDesc   }}
    {%   endfor   %} #}
<section>