<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('index/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        
        {% include 'header.html.twig' %}
        {% include 'about.html.twig' %}
        {% include 'projects.html.twig' %}
        {% include 'skills.html.twig' %}
        {% include 'contact.html.twig' %}



        {% include 'Layout/footer.html.twig' %} 
    </body>
</html>
