<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('index/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    {% include 'Layout/nav.html.twig' %}
    {% extends 'about.html.twig' %}
        {% block body %}
        <h1> Your Lucky number is {{number}} </h1>
        {% endblock %}

        {% include 'Layout/footer.html.twig' %} 
    </body>
</html>
