<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('index/css/style.css') }}">
        {% endblock %}
    </head>
    <body class=" d-flex flex-direction-column a-i-center j-c-center">
        <main class="h-95 w-95 m-t-20">
            {% include 'header.html.twig' %}
            {% include 'about.html.twig' %}
            {% include 'projects.html.twig' %}
            {% include 'contact.html.twig' %}
        </main>


        {% include 'footer.html.twig' %} 
    </body>
</html>
