<header class="w-100" id="index">
    {% include 'nav.html.twig' %}
    <section class="h-100vh bg-color-1 d-flex a-i-center j-c-around flex-wrap animateBg flex-direction-column-mobile j-c-center-mobile a-i-center-mobile">
        <div class="h-50 w-50 d-flex flex-direction-column j-c-center w-100-mobile h-33-mobile a-i-center-mobile">
            <h2 class="color-1 fs-45 coolvetica p-l-90">
                Valentin Gaillard
            </h2>
            <h2 class="color-1 fs-30 coolvetica m-t-20 p-l-90">
                Front-end Designer/ Developper
            </h2>
        </div>
        <div class="w-50 d-flex j-c-center w-100-mobile">
            <img src="index/images/logo.png" alt="Logo" class="h-100 w-50"> 
        </div> 
        <div class="d-flex flex-direction-column a-i-center absolute bottom-0 d-none-mobile">
            <p class="color-1 coolvetica fs-18">About me</p>
            <span class="vertical-span-white"></span>
        </div>
        

    </section>
</header>
    
