<header class="w-100">
    {% include 'nav.html.twig' %}
    <section class="h-95vh bg-color-1 d-flex a-i-center j-c-around flex-wrap">
        <div class="h-50 w-50 d-flex flex-direction-column j-c-center">
            <h2 class="color-1 fs-45 coolvetica p-l-90">
                Valentin Gaillard
            </h2>
            <h2 class="color-1 fs-30 coolvetica m-t-20 p-l-90">
                Front-end Designer/ Developper
            </h2>
        </div>
        <div class="w-50 d-flex j-c-center">
            <img src="index/images/logo.png" alt="Logo" class="h-100 w-50"> 
        </div> 
        <div class="d-flex flex-direction-column a-i-center absolute bottom-0">
            <p class="color-1 coolvetica">About me</p>
            <span class="vertical-span"></span>
        </div>
        

    </section>
</header>
    
