<header>
    {% include 'nav.html.twig' %}
    <section class="h100vh w100vw text-white bg-img-1 d-flex j-c-center a-i-center">
        <div class="col-8 border3px border-white d-flex j-c-center flex-direction-column">
            <p class="col-12 fs-90 text-center">
                Gaillard Valentin
            </p>
            <p class="col-12 fs-90 text-center">
                Développeur Web
            </p>
            <div class="col-12 d-flex j-c-around flex-direction-row">
                    <p class="col-6 fs-35 text-center">Front-end</p>
                    <p class="col-6 fs-35 text-center">Back-end</p>
            </div>
        </div>
    </section>

</header>