<header>
    <section class="h100vh w100vw bg-img-1">
        <div class="col-8 border3px border-white">
            <p class="col-12">
                Gaillard Valentin
            </p>
            <p class="col-12">
                Développeur Web
            </p>
            <div class="col-12">
                    <p class="col-6">Front-end</p>
                    <p class="col-6">Back-end</p>
            </div>
        </div>
    </section>

</header>