<nav role="navigation" id="nav" class="navbar h10vh pos-fixed col-12 d-flex j-c-end">
    <div class="col-6 d-flex j-c-around a-i-center pdg15px">
        <a href="#" class="links text-white fs-25 text-decoration-none">Index</a>
        <a href="#" class="links text-white fs-25 text-decoration-none">About</a>
        <a href="#" class="links text-white fs-25 text-decoration-none">Projects</a>
        <a href="#" class="links text-white fs-25 text-decoration-none">Skills</a>
        <a href="#" class="links text-white fs-25 text-decoration-none">Contact</a>
    </div>
</nav>