<nav role="navigation" id="nav" class="navbar h-8vh fixed col-6 d-flex j-c-end z-index-3 ">
    <div class="col-3 d-flex j-c-around a-i-center p-15px d-none-mobile">
        <a href="#index" class="links color-1 fs-25 text-decoration-none coolvetica">Home</a>
        <a href="#about" class="links color-1 fs-25 text-decoration-none coolvetica">About</a>
        <a href="#projects" class="links color-1 fs-25 text-decoration-none coolvetica">Projects</a>
        <a href="#contact" class="links color-1 fs-25 text-decoration-none coolvetica">Contact</a>
    </div>

    <div class="d-flex a-i-center j-c-end m-t-50 m-t-25-mobile d-none d-block-mobile">
        <div class="hamburger hamburger--spring outline-none" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
            <div class="d-flex a-i-center z-index-3">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>      
</nav>
    <div id="navigation" class="fixed z-index-2 d-none w-100 h-100vh encodeSansCondensed bg-color-3 h-100mobile h-100vh-tablet">
        <div class="d-flex flex-direction-column h-100 j-c-center">
            <div class ="w-50 center p-t-20">
                <div class="d-flex flex-direction-column m-l-20">
                    <a href="#index" class="color-1 fs-25 text-decoration-none coolvetica transition-2 hamburger">Home</a>
                    <a href="#about" class="color-1 fs-25 text-decoration-none coolvetica transition-2 hamburger">About</a>
                    <a href="#projects" class="color-1 fs-25 text-decoration-none coolvetica transition-2 hamburger">Projects</a>
                    <a href="#contact" class="color-1 fs-25 text-decoration-none coolvetica transition-2 hamburger">Contact</a>
                </div>
            </div>
            <div class="color-1 w-100-mobile text-center-mobile m-t-50">
                <a href="https://www.facebook.com/valentin.gaillard.378" target="_blank" class="color-1 text-decoration-none fs-25 transition-2"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/Koma_ACS" class="color-1 text-decoration-none fs-25 transition-2" target="_blank"><i class="fab fa-twitter "></i></a>
                <a href="https://github.com/KomaWasTaken" class="color-1 text-decoration-none fs-25 transition-2" target="_blank"><i class="fab fa-github-square "></i></a>
            </div>
        </div>
    </div>
</nav> 