<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}My RPG{% endblock %}</title>
    </head>
    
    <body>
        {% include 'Layout/nav.html.twig' %}
        
        <main>
            {% block content %}{% endblock %}
        </main>
        
        {% include 'Layout/footer.html.twig' %}        
    </body>
</html>